/* Styles for Vitor Sonoki's page */

/* Consistent, lightweight fonting, please... */
@font-face {
    font-family: "PT Sans";
    src: url("/static/PTSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("/static/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Baskerville Bold";
    src: url("/static/LibreBaskerville-Bold.ttf") format("truetype");
}

html {
    background: #F9F7EE;
}

body {
    font-family: "Libre Baskerville", "Liberation Serif", "Times New Roman", "Garamond", serif;
    background: #FBEACA;
    font-size: 1.0em;
    padding: 0;
    margin: 0;
    color: #1A0F02;
}

body p, body li, body blockquote {
    line-height: 1.7em;
}

h1, h2, h3, h4 {
    font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
}

section#main h1 {
    font-size: 2.3em;
}

section#main h2 {
    font-size: 2em;
}

a {
    color: #1860D4;
    text-decoration: none;
}

a:hover {
    color: #4EA4F2;
    text-decoration: underline;
}

p code, li code, blockquote code {
    background: #f9eded;
    color: #f00;
    padding: 0.2em;
}

header {
    background: #F9F7EE;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
}

header h1 {
    margin-top: 0;
    font-size: 3em;
    padding-top: 0.5em;
}

nav ul {
    text-align: center;
    padding: 0;
    margin: auto;
}

nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section#main {
    padding: 1em 0;
}

section#main ul li {
    margin-bottom: .5em;
}

section#main img {
    max-width: 90%;
    display: block;
    margin: auto;
}

section#main figcaption {
    /* give it breathable space */
    margin-top: 0.2em;
    text-align: center;
}

blockquote {
    border-left: 3px solid #0572f4;
    padding: .5em 1em;
    font-size: 1.1em;
    background: #f2fcfa;
}

blockquote.warning {
    border-left: 3px solid red;
    padding: .5em 1em;
    font-size: 1.1em;
    background: #ffebec;
}

/* code for geeks */

pre, li pre {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    overflow-x: scroll;
}

/* so bold text looks better */
strong {
    font-family: "Libre Baskerville Bold", "Libre Baskerville";
}

/* Tables, jimmy! */
body table {
    width: 95%;
}

table td {
    border: 1px solid black;
}

/* mobile devices */
@media screen and (max-width: 600px) {
    section#main {
        margin: 1em;
    }
    body {
        font-size: 1.0em;
    }

    header h1 {
        font-size: 2.5em;
    }

    section#main h1 {
        font-size: 2em;
    }

    section#main h2 {
        font-size: 1.7em;
    }
}

/* very large screens */
@media screen and (min-width: 910px) {
    section#main {
        width: 900px;
        margin: auto;
    }
    header {
        padding: 1.5em;
    }

    footer p {
        width: 850px;
        margin: auto;
        padding: 0.5em;
    }
}

footer {
    background: #F9F7EE;
    text-align: center;
    padding: 3em 1em;
    margin: 0
}
